<div class="pt-3 pb-3">
    <div class="row pb-3">
        <div class="col-10"></div>
        <div class="col">
            <button type="button" class="btn btn-primary mx-auto" data-toggle="modal" data-target="#employee_modal"
                    data-purpose="Add">
                Add Employee
            </button>
        </div>
    </div>

    <div class="row">

        <table class="table">
            <thead>
            <tr>
                <th scope="col">Employee ID</th>
                <th scope="col">Employee Name</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody id="employee_table_body">
            </tbody>
        </table>

    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="employee_modal" tabindex="-1" role="dialog" aria-labelledby="modify_employee"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="employee_modal_label">Employee</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group" id="employee_id_field">
                    <label for="employee_id_input" class="col-form-label">Employee ID:</label>
                    <input type="text" class="form-control" id="employee_id_input" readonly>
                </div>

                <div class="form-group">
                    <label for="employee_name_field" class="col-form-label">Employee Name:</label>
                    <input type="text" class="form-control" id="employee_name_field">
                </div>
                <div class="form-group">
                    <label for="employee_location_select" class="col-form-label">Locations:</label>
                    <select id="employee_location_select" class="selectpicker form-control" data-live-search="true"
                            multiple>
                    </select>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="employee_requirement_type_select" class="col-form-label">Requirement Type:</label>
                            <select id="employee_requirement_type_select" class="selectpicker form-control" title="Pick a requirement to add">
                                <option>Base</option>
                                <optgroup label="Time Frame">
                                    <option>Date Range</option>
                                    <option>Day of Week</option>
                                    <option>Time Range</option>
                                </optgroup>
                                <option>Relative</option>
                                <option>Totals</option>
                            </select>
                        </div>
                    </div>
                </div>
                <button class="btn btn-dark">Select</button>

                <div id="employee_requirement_partial"></div>
                <div>
                    <table>
                        <thead>
                        <tr>
                            <th>Requirement Label</th>
                            <th>Edit</th>
                        </tr>
                        </thead>
                        <tbody id="employee_requirement_table_body">
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger mr-auto" data-dismiss="modal" id="employee_delete">DELETE
                </button>
                <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="employee_submit">Submit</button>
            </div>
        </div>
    </div>
</div>

