<div>
    <div class="row">
        <div class="col">

        </div>
    </div>
    <div class="row">
        <div class="col pt-3">
            <button class="btn btn-primary" id="shift_refresh_selects">Refresh</button>
        </div>
        <div class="col">
            <label>
                Window Start:
                <input type="date" name="Window Start" id="shift_window_start">
            </label>
        </div>
        <div class="col">
            <label>
                Window End:
                <input type="date" name="Window End" id="shift_window_end">
            </label>
        </div>
        <div class="col">
            <label>
                Select Employee:
                <select class="selectpicker" data-live-search="true"
                        id="shift_employee_select" title="Select Employee" multiple>
                </select>
            </label>
        </div>
        <div class="col">
            <label>
                Select Location:
                <select class="selectpicker" data-live-search="true"
                        id="shift_location_select" title="Select Location" multiple>
                </select>
            </label>
        </div>
        <div class="col pt-3">
            <button class="btn btn-primary" id="shift_update_button">Update</button>
        </div>
        <div class="col pt-3">
            <button class="btn btn-primary" id="shift_export_button">Export</button>
        </div>
    </div>
    <div class="row" id="shift_calendar_view"></div>


</div>
