<div>
    <div class="row">
        <div class="col">

        </div>
    </div>
    <div class="row">
        <div class="col">
            <label>
                Window Start:
                <input type="date" name="Window Start" id="stats_window_start">
            </label>
        </div>
        <div class="col">
            <label>
                Window End:
                <input type="date" name="Window End" id="stats_window_end">
            </label>
        </div>
        <div class="col">
            <label>
                Select Employee:
                <select class="selectpicker dropdown" data-dropup-auto="false" data-live-search="true"
                        id="stats_employee_select" title="Select Employee">
                </select>
            </label>
        </div>
    </div>
    <div class="row">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Location ID</th>
                <th scope="col">Location Label</th>
                <th scope="col">Shifts Scheduled</th>
                <th scope="col">Hours Scheduled</th>
            </tr>
            </thead>
            <tbody id="stats_table_body">
            </tbody>
        </table>
    </div>
</div>