<div>
    <div class="row">
        <div class="col">

        </div>
    </div>
    <div class="row">
        <div class="col">

        </div>
        <div class="col">
            <select class="selectPicker" data-live-search="true" id="stats_employee_select">

            </select>
        </div>
    </div>
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Location ID</th>
                <th scope="col">Location Label</th>
                <th scope="col">Shifts Scheduled</th>
                <th scope="col">Hours Scheduled</th>
            </tr>
            </thead>
            <tbody id="stats_table_body">
            </tbody>
        </table>
    </div>
</div>