<!--
    This file is part of Scheduler.

    Scheduler is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Scheduler is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Scheduler.  If not, see <https://www.gnu.org/licenses/>.

    requirement_relative.html, Copyright 2019 Nathan Jones (Nathan@jones.one)
-->
<form class="card">
    <div class="form-group row my-2">
        <div class="col-sm-2"></div>
        <label for="requirement_label" class="col-sm-1 col-form-label">Label</label>
        <div class="col-sm-4">
            <input class="form-control" type="text" id="requirement_label">
        </div>
    </div>

    <div class="form-group row ">
        <div class="col-sm-2"></div>
        <label for="requirement_cost" class="col-sm-1 col-form-label">Cost</label>
        <div class="col-sm-4">
            <input class="form-control" type="number" min="-5" max="20" id="requirement_cost">
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2"></div>
        <label for="requirement_distance" class="col-sm-1 col-form-label">Distance (Hours):</label>
        <div class="col-sm-4">
            <input class="form-control" type="number" id="requirement_distance">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-3"></div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="requirement_during"
                   value="during">
            <label class="form-check-label" for="requirement_during">During</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="requirement_after" value="after">
            <label class="form-check-label" for="requirement_after">After</label>
        </div>
    </div>
    <div class="row mx-4 my-2">

        <button type="button" class="btn btn-danger mr-auto" id="requirement_delete">DELETE</button>
        <button type="button" class="btn btn-secondary ml-auto mr-1" id="requirement_cancel">Cancel</button>
        <button type="button" class="btn btn-primary" id="requirement_submit">Submit</button>

    </div>
</form>
